* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #202A33;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}

a {
    color: white;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: 120px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-column-gap: 15px;
}

nav {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;

    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(12, 100px);
}

nav div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 22pt;
    display: grid;
    align-items: center;
}

.portfolio-a {
    grid-column-start: 4;
    grid-column-end: 6;
}

.kontakt-a {
    grid-column-start: 8;
    grid-column-end: 10;
}

nav div a {
    transition: 0.25s;
    font-weight: 400;
    text-shadow: 2px 4px 4px black;
}

nav div a:hover {
    font-size: 26pt;
}

.language-select {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 11;
    grid-column-end: 12;
}

.language-select button {
    width: 35px;
    height: 25px;
    border-radius: 10px;
    border-width: 1px;
    background-image: url('./img/flag_sr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 15;

    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(13, 60px);
}

.hero-img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

.hero-img img {
    width: 100%;
}

.zdravo-txt {
    grid-column-start: 5;
    grid-column-end: 9;
    color: white;
    grid-row-start: 4;
    grid-row-end: 10;
}

.zdr-txt {
    margin-top: 25px;
    font-size: 1.5rem;
    text-shadow: 2px 4px 4px black;
}

.moje-ime-txt {
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 2px 4px 4px black;
    font-style: italic;
    margin-bottom: 100px;
}

.sta-radim-txt {
    font-size: 1.5rem;
}